*{
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Philosopher', sans-serif;
    font-size: 49px;
}

h2{
    font-family: 'Philosopher', sans-serif;
    font-size: 31px;
}

.container{
    margin: 0 auto;
}