*{
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

button {
    cursor: pointer;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
}

h1{
    font-family: 'Philosopher', sans-serif;
    font-size: 49px;
    line-height: 58px;
}

h2{
    font-family: 'Philosopher', sans-serif;
    font-size: 31px;
}


p {
    color: rgba(21, 12, 1, 0.7);
}

.philosopher-font-25 {
    font-family: 'Philosopher', sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.container{
    margin: 0 auto;
    max-width: 77%;
}

.orange-letter-spacing {
    color: rgba(220, 120, 11, 0.7);;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 500;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 0;
}

.menu-wrap {
    display: flex;
    align-items: center;
    gap: 35px;
} 

.menu-btn {
    align-self: flex-start;
    justify-self: flex-end;
    padding: 13px 30px;
}

.menu-list {
    display: flex;
    gap: 40px;
}

.menu-list > :first-child {
    font-weight: 600;
    color: #DC780B;
}

.menu-list > li > a {
    color: inherit;
}

.menu-list > li > a:hover {
    color: #DC780B;
    transition: all 0.4s linear;
}

.header-wrap {
    background-image: url(/images/bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 30px;
}

.heading-section {
    padding-top: 130px;
    padding-bottom: 222px;
}

.heading-section__inner-wrap {
    max-width: 48%;
}

.heading-section__inner-wrap > p {
    padding-top: 30px;
    padding-bottom: 45px;
}

.heading-section__btn-wrap {
    display: flex;
    gap: 30px;
}

.heading-section__button {
    padding: 18px 41px;
    font: inherit;
}

.orange-btn {
    color: #fff;
    background-color: #DC780B;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.heading-section__button--details {
    border-radius: 5px;
    color: #DC780B;
    border: 1.5px solid rgba(220, 120, 11, 0.1);
}

.heading-section__button--details:hover {
    color: #fff;
    background-color: #DC780B;
    transition: all 0.4s linear;
}

.features-section {
    background-color: transparent;
}

.features {
    text-align: center;
    line-height: 19px;
}

.features__heading {
    text-align: center;
    padding-top: 7px;
    line-height: 35px;
}

.features__list {
    display: flex;
    padding: 44px 0 120px;
    gap: 90px;
    max-width: 1080px;
}

.features__list__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    text-align: center;
}

.features__list__list-item__heading {
    padding: 33px 0 15px;
}

.img-wrap {
    width: 88px;
    height: 88px;
    display: inline-block;
    background-color: rgba(220, 120, 11, 0.1);
    border-radius: 50%;
    padding: 22px;
}

.background__wrap {
    background-image: url(/images/bg-stain.svg);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: 244px;
}

.about-us {
    display: flex;
}

.about-us__img {
    border-radius: 35px;
}

.about-us__section-name {
    max-width: 98px;
}

.about-us__text-wrap {
    padding-top: 75px;
    padding-left: 96px;
}

.about-us__heading {
    line-height: 41px;
    margin-top: -5px;
    max-width: 470px;
}

.about-us__text {
    padding: 19px 0 34px;
    max-width: 470px;
}

.about-us__button {
    padding: 12px 0;
    width: 141px;
    font-weight: 500;
}

.menu-section {
    padding: 120px 0 114px;
    text-align: center;
}

.menu-section__text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-section__heading {
    padding: 10px 0 32px;
}

.menu-section__text {
    max-width: 748px;
    text-align: center;
}

.menu__list {
    padding: 63px 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;
}

.menu__list__list-item {
    max-width: 360px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 75px 10px 10px 10px;
}

.menu__list__btn {
    margin-top: 5px;
    padding: 7px 12px;
}

.name-and-price__wrap, .btn-and-rating__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list__list-item__img {
    border-radius: 75px 10px 75px 0;
}

.menu__list__list-item__text-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 22px;
}

.menu__button {
    font: inherit;
    border-radius: 5px;
    color: #DC780B;
    border: 1.5px solid rgba(220, 120, 11, 0.1);
    padding: 11px 30px 12px 30px;
    background-color: transparent;
}

.menu__button:hover {
    color: #fff;
    background-color: #DC780B;
    transition: all 0.4s linear;
}

.app-section {
    margin: 66px 0;
}

.app-section__wrap {
    background-color: #FBF1E7;
    position: relative;
    padding: 110px 0 129px 105px;
}

.app-section__text-wrap {
    max-width: 555px;
}

.app-section__img {
    position: absolute;
    top: -67px;
    right: 17.5%;
    border-radius: 55px;
    box-shadow: 3px 3px 10px 5px rgba(21, 12, 1, 0.2);
}

.app-section__heading {
    line-height: 41px;
    max-width: 440px;
}

.app-section__text {
    padding: 19px 0 34px;
}

.app-section__link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 11px 29px;
    border-radius: 5px;
}

.app-section__link--apple {
    color: #fff;
    background-color: #150C01;
}

.app-section__link--google {
    margin-left: 30px;
    color: #150C01;
    border: 1.5px solid rgba(21, 12, 1, 0.1);
}

.testimonial-section {
    padding: 145px 0 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.testimonial-section__heading {
    padding: 12px 0 29px;
}

.testimonial-section__first-paragraph {
    max-width: 750px;
    display: inline-block;
}

.testimonial-section__img-wrap {
    background-image: url(/images/photo-bg-stain.svg);
    background-position-y: center;
    background-position-x: 43%;
    background-repeat: no-repeat;
    padding: 73px 0 42px;
}

.testimonial-section__img {
    border-radius: 100px;
    margin-top: 10px;
}

.swiper {
    width: 506px;
}

.swiper-slide {
    width: 506px;
}

.swiper__text-wrap {
    margin-top: -15px;
}

.swiper__rating {
    margin-top: 12px;
}

.swiper__author-wrap {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    padding-top: 22px;
}

.swiper__author-wrap__position {
    font-size: 12px;
}

.swiper-navigation {
    width: 805px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 486px;
    left: 166px;
}

.swiper-btn > svg {
    stroke: #150C01;
}

.swiper-btn:disabled > svg {
    stroke: #8b8b8b;
}

.swiper-navigation > button {
    border: none;
    background-color: transparent;
    width: 6px;
    height: 12px;
}

.contact-section {
    background-color: #FBF1E7;
    padding: 106px 0 115px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section__heading {
    line-height: 41px;
    max-width: 749px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 30px;
}

.contact-section__input-wrap {
    display: flex;
    align-items: center;
}

.contact-section__input {
    padding: 28px 0 28px 28px;
    width: 594px;
    border: none;
    border-radius: 5px;
    font: inherit;
}

.contact-section__button {
    padding: 30px 57px;
}

.footer {
    background-color: #252525;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    padding: 137px 0 104px;
}

.footer__list {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
}

.footer__list > li > a {
    color: #fff;
}

.footer__list > li > a:hover {
    color: #676666;
    transition: all 0.4s linear;
}

.padding-bottom-25 {
    padding-bottom: 15px;
}

.philosopher-font-18 {
    font-family: 'Philosopher', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.footer__list > li {
    padding-bottom: 20px;
}

.footer__list--socials {
    display: flex;
    gap: 10px;
}

.socials-icon {
    width: 21px;
    height: 21px;
}

.socials-icon:hover {
    opacity: 0.7;
    transition: all 0.4s linear;
}